*
.DS_Store
analysis
analysis/**
data/
data/*
!config
!config/*
!resources
!resources/subsets
!resources/subsets/*
!workflow
!workflow/**
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!CODE_OF_CONDUCT.md
!LICENSE
!README.md