*
analysis/**
!analysis/**/*.pdf
!analysis/**/*.tsv
!analysis/**/*.out
!analysis/**/*.err
!config
!config/*
!resources
!resources/**
!workflow
!workflow/**
!environment.yml
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!CONDUCT.md
!LICENSE
!README.md
