*
data
data/*
.DS_Store
!analysis
!analysis/**/*.pdf
!analysis/**/*.out
!analysis/**/*.err
!config
!config/*
!resources
!resources/**
!workflow
!workflow/**
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!CODE_OF_CONDUCT.md
!LICENSE
!README.md